@use 'base/variables' as v;

html{
    font-size: 62.5%;
    box-sizing: border-box;
}
*,*,:before,*:after{
    box-sizing: inherit;
}

body{
    font-family: v.$fuente_Principal;
    font-size: 1.6rem;
    background-color: v.$grisArena;
}
p{
    color: v.$negro;
    font-size: 1.6rem;
    line-height: 2;
}
h1, h2, h3{
    margin: 0 0 v.$separacion 0;
}
.contenedor{
    width: 95%;
    max-width: 120rem;
    margin: 0 auto;
}
img{
    display: block;
    max-width: 100%;
}