//Fuentes
$fuente_Principal:  'Raleway', sans-serif;
$fuente_Secundaria: 'Roboto', sans-serif;
$fuente_Cursiva: 'Bona Nova', serif;

//Media Queries
$telefonoIPH: 320px;
$telefono: 480px;
$tablet: 768px;
$desktop: 1024px;

//Colores
$primario: #2093d8;
$secundario: #00a0ff;
$blanco: #fff;
$negro: #000;
$azulClaro: #a7d5ff;


//Unidades
$separacion: 5rem;
